<!DOCTYPE html>
<html ng-app="AdministradorAPP">

<head>
  <title>
    MetaPlan APP
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/main-theme.css">
  <!--STYLES END-->
</head>

<body>
  <!-- HEADER -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand brand-MetaPlan" href="/">
          <div class="logo-header-container">
            <img src="/images/LogoMetaPlan.svg" alt="logoHeader" class="img-responsive logo-header">
          </div>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>

      </ul>
    </div>
    <div class="container-fluid header-amarillo"></div>
    <div class="container-fluid header-cafe"></div>
  </nav>

  <%- body %>

<!-- FOOTER -->
  <div class="container-fluid navbar navbar-default navbar-static-bottom footer">
    <div class="container-fluid footer-cafe"></div>
    <div class="container-fluid footer-amarillo"></div>
    <div class="container footer-info">
      <h5><b>CONTACTO:</b>Manuel Francisco Sopo Barrientos</h5>
      <h6><i>manuel_sopo@gmail.com</i></h6>
    </div>
  </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.1.1.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/private/Administrador/SesionController.js"></script>
    <script src="/js/private/Administrador/SesionModule.js"></script>
    <!--SCRIPTS END-->
</body>

</html>
