<div class="container">
  <h1>CREAR ASIGNATURA</h1>
  <form class="asignatura-form" action="asignatura/create" method="post">

    <label>Numero de asignatura:</label>
    <input type="text" name="nombre">
    <input type="submit" name="submitButton" value="CrearAsignatura">
  </form>
</div>
