<div class="container">
  <h1>CREAR CURSO</h1>
  <form class="curso-form" action="curso/create" method="post">

    <label>Numero de Curso:</label>
    <input type="text" name="num_curso">
    <input type="submit" name="submitButton" value="CrearCurso">
  </form>
</div>
