<div class="container">
  <h1>CREAR NIVEL</h1>
  <form class="nivel-form" action="nivel/create" method="post">

    <label>Nombre:</label>
    <input type="text" name="nombre">
    <input type="submit" name="submitButton" value="CrearNivel">
  </form>
</div>
