<div class="container" ng-controller="SesionCtrl">
  <h1>CREAR LOGRO</h1>
  <form class="curso-form" ng-submit="logroCreate()" ng-controller="LogroCtrl">

    <div class="form-group">
      <label>Fecha Inicio:</label>
      <input type="date" name="fecha_inicio" ng-model="logro.fecha_inicio">
      <label>Fecha final:</label>
      <input type="date" name="fecha_final" ng-model="logro.fecha_final">
    </div>

    <div class="form-group">
      <label for="comment">Objetivo general de aprendizaje:</label>
      <input type="text" class="form-control" ng-model="logro.objetivo_general">
    </div>

    <div class="form-group">
      <label for="referentes_teoricos">Referentes Teoricos:</label>
      <textarea class="form-control" rows="5" ng-model="logro.referentes_teoricos"></textarea>
    </div>

    <div class="sesiones-panel row">
      <div class="col-sm-2">
        <label>Num Sesion</label>
        <input type="text" name="num-sesion" ng-model="num_sesion" class="form-control">
      </div>

      <div class="col-sm-6">
        <label>Descripcion</label>
        <input type="text" name="desc" ng-model="descripcion" class="form-control">
      </div>

      <div class="cursos col-sm-3">
        <label>Fecha</label>
        <input type="date" name="date" ng-model="fecha" class="form-control">
      </div>

      <button type="button" class="btn btn-default col-sm-1 btn-addses" ng-click="addSesion(num_sesion, descripcion, fecha)">
        Agregar
      </button>

    </div>

    <div class="row">
      <table class="col-md-12">
        <tr>
          <td>NumeroSesion</td>
          <td>Descripcion</td>
          <td>Cursos</td>
        </tr>
        <tr ng-repeat="ses in sesiones">
          <td ng-model="ses.num_sesion">{{ses.num_sesion}}</td>
          <td ng-model="ses.descripcion">{{ses.descripcion}}</td>
          <td ng-model="ses.fecha">{{ses.fecha}}</td>
        </tr>
      </table>
    </div>


    <div class="last-panel row">
      <label>Recursos</label>
      <input type="text" name="rec" ng-model="logro.recursos" class="form-control">

      <label>Evaluacion para los estudiantes</label>
      <input type="text" name="eva" ng-model="evaluacion" class="form-control">

      <label>observacion_docente</label>
      <input type="text" name="obs" ng-model="observacion_docente" class="form-control">

    </div>

    <input type="submit" name="submitButton" value="CrearLogro" class="btn btn-primary col-sm-offset-5 col-sm-1">
  </form>
</div>
