<div class="container contenedor-principal">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 contenerdor-LogoPrincipal">
      <img src="/images/LogoMetaPlan.svg" alt="logoMainContainer" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 contenerdor-textoPrincipal">
      <p>MetaPlan es un proyecto desarrollado por docentes para docentes, cuyo objetivo fundamental
      es apoyar la practica, óptimizar la planeación, brindar herramientas y estrategias pedagógicas
    que permitan la construcción y reconstrucción del quehacer docente</p>
    </div>
  </div>
</div>
