<div class="container">
  <h1>CREAR PERMISO</h1>
  <form class="permiso-form" action="permiso/create" method="post">

    <label>Numero de Permiso:</label>
    <input type="text" name="num_permiso">
    <input type="submit" name="submitButton" value="CrearPermiso">
  </form>
</div>
