<div class="container">
  <h1>CREAR CURSO</h1>
  <form action="/createCurso" method="post">

    <label>Numero de Curso:</label>
    <input type="text" name="num_curso">

    <button type="submit" name="button">Create Curso</button>
  </form>
</div>
