<div class="container">
  <!-- Form for a new level for example Preescolar, primero, segundo, ..., once -->
  <h1>CREAR NIVEL</h1>
  <form action="/createNivel" method="post">

    <label>Nombre de Nivel:</label>
    <input type="text" name="nombre">

    <button type="submit" name="button">Create Nivel</button>
  </form>
</div>
