<div class="container" ng-app="AdministradorAPP" ng-controller="PeriodoCtrl">
  <h1>CREAR PERIODO</h1>
  <form ng-submit=SubmitPeriodoForm()>

    <label>Numero de Periodo:</label>
    <input type="text" name="num_periodo" ng-model="periodoForm.num_periodo">

    <button type="submit" name="button">Create periodo</button>
  </form>
</div>
