<div class="container">
  <h1>CREAR PERIODO</h1>
  <form action="/createPeriodo" method="post">

    <label>Numero de Periodo:</label>
    <input type="text" name="num_periodo">

    <button type="submit" name="button">Create periodo</button>
  </form>
</div>
