<div class="container">
  <!-- form to create a new permission to acces some of the page routes -->
  <h1>CREAR PERMISO</h1>
  <form action="/createPermiso" method="post">

    <label>Numero de Permiso:</label>
    <input type="text" name="num_permiso">

    <button type="submit" name="button">Create Permiso</button>
  </form>
</div>
