<div class="container" ng-app="AdministradorAPP" ng-controller="PermisoCtrl">
  <h1>CREAR PERMISO</h1>
  <form ng-submit=SubmitPermisoForm()>

    <label>Numero de Permiso:</label>
    <input type="text" name="num_permiso" ng-model="permisoForm.num_permiso">

    <button type="submit" name="button">Create Permiso</button>
  </form>
</div>
