<div class="container" ng-app="AdministradorAPP">
  <!-- Form to craete a rol for every user Admin, Docente, Coordinador(New changes DocenteControl, DocenteExperimental) Not implemented yet -->
  <h1>CREAR ROL</h1>
  <form action="/createRol" method="post">

    <label>Nombre:</label>
    <input type="text" name="nombre">

    <label>Permisos:</label>
    <div class="permisos" ng-controller="ShowPermisosCtrl">
      <div ng-repeat="permiso in permisos" class="checkbox-inline">
        <label><input type="checkbox" name="permisos" value="{{permiso.id}}">{{permiso.num_permiso}}</label>
      </div>
    </div>


    <input type="submit" name="submitButton" value="CreateRol">
  </form>
</div>
