<div class="container" ng-app="AdministradorAPP">
  <!-- Form to create a new user. Access the created roles to assign them to the new user -->
  <form class="" action="/createUsuario" method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control">
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control">
    <label>NIT</label>
    <input type="text" name="nit" class="form-control">
    <label>email</label>
    <input type="email" name="correo" class="form-control">
    <label>rol</label>
    <div class="roles" ng-controller="showRolesCtrl">
      <div ng-repeat="rol in roles">
        <label><input type="radio" name="rol" value="{{rol.id}}">{{rol.nombre}}</label>
      </div>
    </div>
    <input type="submit" name="submitButton" value="CreateUsuario">
  </form>

</div>
